<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<!-- The current piece of data is the dot then we access the fields it has -->
<ul>
    <li>{{.Name}} - {{.Motto}}</li>
</ul>
</body>
</html>