<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Menu</title>
    <!-- we haven't learned to serve files yet ... -->
    <link rel="stylesheet" href="main.css">
</head>
<body> <!-- Here we have a more full blow out web page we we defined reusable 
templates like you will do in a react site for header, list, etc -->

{{template "svgs"}}

{{template "header"}}

<div id="atf">
    <main>
        <!-- we use the svg("svgs") we defined at the top -->
        <svg class="icon icon-big-in">
            <use xlink:href="#inbox"></use>
        </svg>
        <h1>Are You In?</h1>
    </main>
</div>

{{template "btf"}}

</body>
</html>