<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<!-- Pipelining is templates is basically passing the results of a fuction to another function and so on. You have the "|" symbol making th demacations-->
<body>

{{.}}

{{. | fdbl}}

{{. | fdbl | fsq}}

{{. | fdbl | fsq | fsqrt}} <!-- We keep Pipelining the results till we print the actual result we want-->

</body>
</html>