<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body><!-- We see how to access a more nexted innerTypes for data passed in-->

{{.Fall.Term}}<br>
{{range .Fall.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}


{{.Spring.Term}}<br>
{{range .Spring.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}

</body>
</html>