<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h1>The meaning of life: {{.}}</h1>
<p>{{template "polarbear" .}}</p> <!-- We pass the data to a template we defined and called "polabear" -->
</body>
</html>